### Example user template template
### Example user template

# IntelliJ project files
.idea/
*.iml
out
gen
.cache/
!/keaiji.session
!/keaiji_bot.session
!/keaiji_bot.session-journal
__pycache__
log
db_backup/
*.sql
bot-env
.env
.env.*
!.env.web.example
!v3/.env.example
web/node_modules/
web/dist/
